nav {
   background-color:black;
   display: flex;
   justify-content: space-around;
   align-items: end;
   padding: 30px;
   font-size: 20px;
}
nav a {
  text-decoration: none;
  color: white;
}
body {
   background-color: #D84040;
   margin: 0px;
   padding: 0px;
}
.fondo {
   background-image: url(../img/fondo\ porsche.jpg);
   padding: 300px;
}
.fondito {
   text-align: center;
   margin-bottom: 380px;
   margin-top: -300px;
   font-size: 30px;
}
.texto {
   text-align: center;
}
.cuadro {
   background-color: black;
   text-align: center;
   padding: 80px;
   color: white;
   font-size: 30px;
}
.featured-classes {
   text-align: center;
   padding: 50px;
   margin: 20px;
   border-radius: 10px;
}
.featured-classes {
   display: flex;
   justify-content: center;
   gap: 20px;
}
.class-card {
   background: #A31D1D;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   text-align:justify;
   width: 300px;
}
.class-card img {
   width: 100%;
}
.boton {
   border-radius: 10px;
   background-color: #BAD8B6;
   color: beige;
   border: 0px;
   padding: 20px;
}
.boton a {
   text-decoration: none;
   color: black;
}
.botoncito {
   text-align: center;
   padding: 40px;
}
.pie {
   background-color: black;
   text-align: center;
   padding: 50px;
   color:white;
}