nav {
   background-color:black;
   display: flex;
   justify-content: space-around;
   align-items: end;
   padding: 30px;
   font-size: 20px;
}
nav a {
  text-decoration: none;
  color: white;
}
body {
   background-color: #D84040;
   margin: 0px;
   padding: 0px;
}
.fondo {
   background-image: url(../img/fondo\ porsche.jpg);
   padding: 300px;
}
.fondito {
   text-align: center;
   margin-bottom: 380px;
   margin-top: -300px;
   font-size: 30px;
}
.destacado {
   display: flex;
   justify-content: center;
   flex-direction: row;
}
.tarjeta {
   text-align:center;
   margin-top: 45px;
   font-size: 20px;
}
.mapa {
   width: 500px; 
   padding: 20px;
}
.pie {
   background-color: black;
   text-align: center;
   padding: 50px;
   color:white;
}

@media (max-width: 768px) {
   nav {
       flex-direction:row;
       font-size: 15px
   }

   .fondo {
       background-image: url(../img/fondo\ porsche.jpg); 
       padding: 150px;
   }

   .fondito {
       margin-top: -100px; 
       margin-bottom: 200px;
       font-size: 25px;
   }

   .cuadro {
       padding: 50px; 
       font-size: 25px;
   }

   .featured-classes {
       flex-direction: column; 
       padding: 20px;
   }

   .class-card {
       width: 90%; 
       margin: 10px auto; 
   }

   .boton {
       padding: 15px;
   }

   .botoncito {
       padding: 20px;
   }
   .mapa {
      height: auto;
      width: 100%;
      padding: 20px;
   }
   .pie {
       padding: 30px;
   }
}
