body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
 }
 header {
    position: relative;
    text-align: center;
    color: white;
 }
 .header-image {
    width: 100%;
    height: auto;
 }
 h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
 }
 nav {
   background-color:black;
   display: flex;
   justify-content: space-around;
   align-items: end;
   padding: 30px;
   font-size: 20px;
}
nav a {
  text-decoration: none;
  color: white;
}
 .catalogo {
    background-color: #b30000;
    color: white;
    padding: 20px;
    text-align: center;
 }
 .vehiculo {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 10px;
 }
 .car-image {
    width: 100%;
    border-radius: 10px;
 }
 .detalles {
    text-align: left;
 }
 button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px auto;
 }
 button:hover {
    background-color: #333;
 }
 footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
 }
 footer a {
    color: white;
    text-decoration: none;
 }
 @media (max-width: 768px) {
   nav {
       flex-direction:row;
       font-size: 15px
   }

   .fondo {
       background-image: url(../img/fondo\ porsche.jpg); 
       padding: 150px;
   }

   .fondito {
       margin-top: -100px; 
       margin-bottom: 200px;
       font-size: 25px;
   }

   .cuadro {
       padding: 50px; 
       font-size: 25px;
   }

   .featured-classes {
       flex-direction: column; 
       padding: 20px;
   }

   .class-card {
       width: 90%; 
       margin: 10px auto; 
   }

   .boton {
       padding: 15px;
   }

   .botoncito {
       padding: 20px;
   }

   .pie {
       padding: 30px;
   }
}

